/* AnchorPane */
.root {
    -fx-background-color: white;
}

/* Labels */
.customLabel {
    -fx-background-color: transparent;
    -fx-font-family: "Futura Medium";
    -fx-font-size: 24px;
    -fx-font-weight: bold
}

/* Text field */
.textField {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-font-size: 24px;
    -fx-font-family: "Future Medium";
    -fx-alignment: center_left;
}

/* Text area */
.textArea {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-font-size: 24px;
    -fx-font-family: "Future Medium";
    -fx-alignment: center_left;
}

/* Close session button */
.closeSessionButton {
    -fx-border-color: black;
    -fx-border-radius: 48px;
    -fx-border-width: 2px;
    -fx-background-image: url("/images/closeSession.png");
    -fx-background-size: 96px;
    -fx-background-color: transparent;
    -fx-background-radius: 48px;
}

.closeSessionButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* Go back window button */
.goBackButton {
    -fx-border-color: black;
    -fx-border-radius: 48px;
    -fx-background-color:transparent;
    -fx-background-image: url('/images/goBack.png');
    -fx-background-size: 96px;
    -fx-background-radius: 48px;
    -fx-border-width: 2px;
}

.goBackButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: #EFEFEF;
}

/* Display legend button */
.displayLegend {
    -fx-border-color: black;
    -fx-border-radius: 48px;
    -fx-background-color:transparent;
    -fx-background-image: url('/images/legendIcon.png');
    -fx-background-size: 96px;
    -fx-background-radius: 48px;
    -fx-border-width: 2px;
}

.displayLegend:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: #EFEFEF;
}
/* Do transactions button */
.doTransactionButton {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-color: white;
}

.doTransactionButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: #EFEFEF;
}


