/* Anchor Pane */
.root {
    -fx-background-color: white;
}

/* Labels */
.customLabel {
    -fx-background-color: transparent;
    -fx-font-family: "Futura Medium";
    -fx-font-size: 24px;
    -fx-font-weight: bold
}

/* Text fields */
.textField {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-font-size: 24px;
    -fx-font-family: "Future Medium";
    -fx-alignment: center_left;
}

/* ComboBox */
.comboBox {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-font-family: "Futura Medium";
    -fx-font-size: 24px;
    -fx-alignment: center;
}

/* Close session button */
.closeSessionButton {
    -fx-border-color: black;
    -fx-border-radius: 48px;
    -fx-border-width: 2px;
    -fx-background-image: url("/images/closeSession.png");
    -fx-background-size: 96px;
    /*  -fx-background-color: #ff3333;*/
    -fx-background-color: transparent;
    -fx-background-radius: 48px;
}

.closeSessionButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* Go previous window button */
.goBackButton {
    -fx-border-color: black;
    -fx-border-radius: 48px;
    -fx-background-color:transparent;
    -fx-background-image: url('/images/goBack.png');
    -fx-background-size: 96px;
    -fx-background-radius: 48px;
    -fx-border-width: 2px;
}

.goBackButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: #EFEFEF;
}

/* Main window button */
.legendDisplay {
    -fx-border-color: black;
    -fx-border-radius: 48px;
    -fx-background-color:transparent;
    -fx-background-image: url('/images/legendIcon.png');
    -fx-background-size: 96px;
    -fx-background-radius: 48px;
    -fx-border-width: 2px;
}

.legendDisplay:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: #EFEFEF;
}

/* Add button */
.addButton {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Futura Medium";
    -fx-font-size: 24px;
}

.addButton:hover {
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
}


