/* AnchorPane */
.root {
    -fx-background-color: white;
}

/* Labels */
.customLabel {
    -fx-background-color: transparent;
    -fx-font-family: "Futura Medium";
    -fx-font-size: 24px;
    -fx-font-weight: bold
}

/* Close session button */
.closeSessionButton {
    -fx-border-color: black;
    -fx-border-radius: 48px;
    -fx-border-width: 2px;
    -fx-background-image: url("/images/closeSession.png");
    -fx-background-size: 96px;
    -fx-background-color: transparent;
    -fx-background-radius: 48px;
}

.closeSessionButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* Client list button */
.openClientListButton {
    -fx-border-color: black;
    -fx-border-radius: 48px;
    -fx-background-color:transparent;
    -fx-background-image: url('/images/clientList.png');
    -fx-background-size: 96px;
    -fx-background-radius: 48px;
    -fx-border-width: 2px;
}

.openClientListButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: #EFEFEF;
}

/* Display legend button */
.displayLegend {
    -fx-border-color: black;
    -fx-border-radius: 48px;
    -fx-background-color:transparent;
    -fx-background-image: url('/images/legendIcon.png');
    -fx-background-size: 96px;
    -fx-background-radius: 48px;
    -fx-border-width: 2px;
}

.displayLegend:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: #EFEFEF;
}

